<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main1.css">
    <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <nav id="navbar">
        <div class="contanier display_menu">
            <img src="../media/logo.png" alt="logo" class="logo">
            <ul type="none" id="display_menu_child_ul">
                <li class="home_li"> <i class="fa-solid fa-house"></i><a href="../index.html">Home</a></li>
                <li class="product_li"><i class="fa-solid fa-bowl-rice"></i><a href="#">Product </a> <i
                        class="fa-solid fa-caret-up up"></i>
                    <ul type="none" class="product_li_ul">
                        <li><a href="../template/ice-cream.html"><i class="fa-solid fa-ice-cream"></i>Ice-cream</a></li>
                        <li><a href="../template/chocolate.html"><i class="fas fa-cookie"></i>Chocalete</a></li>
                        <li><a href="../template/drink.html"><i class="fa-solid fa-bottle-water"></i>Drink</a></li>
                    </ul>
                </li>
                <li><i class="fa-solid fa-basket-shopping"></i><a href="../template/basket.html">Basket</a></li>
                <li><i class="fa-regular fa-address-card"></i><a href="../template/about.html">About</a></li>
            </ul>
        </div>
    </nav>
    

    <div class="video-container">
        <video autoplay muted loop>
            <source src="../media/Motivational Video.mp4">
        </video>

    </div>

    <div class="bacground">
        
    </div>

</body>
</html>