<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Basket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/backet.css">
    <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/css/all.css">
</head>
<body>
   <!-- navbar -->
   <nav id="navbar">
    <div class="container navbar-flex">
        <img src="../media/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
            <li  class="navbar-child"><a href="#"><i class="fa-solid fa-bowl-food"></i>Product <i class="fa-solid fa-caret-up shape shape-rotate"></i>
            <ul class="navbar-child-items">
                <li><a href="../template/ice-cream.html"><i class="fa-solid fa-ice-cream"></i>ice cream</a></li>
                <li><a href="../template/chocolate.html"><i class="fa-solid fa-cookie"></i>chocolate</a></li>
                <li><a href="../template/drink.html"><i class="fa-solid fa-bottle-water"></i>drink</a></li>
            </ul>
            </a></li>
            <li><a href="../template/basket.html"><i class="fa-solid fa-cart-shopping"></i> Basket</a></li>
            <li><a href="../template/about.html"><i class="fa-regular fa-address-card"></i> About</a></li>
        </ul>
    </div>
 </nav>

    <ul class="display">
            
    </ul>
</body>
 <script src="../script/backet.js"></script>
</html>